<div class="d-flex flex-column justify-content-center align-items-center gap-5 h-100 bg-black grid-bg">
	<h1 data-i18n="homepage-welcome" class="text-light animate-heartbeat animate-pulse animation-duration-5s">Welcome to the Home Page</h1>
	<div class="d-flex gap-3 justify-content-center align-items-center font-monospace">
		<a href="#singlePlayer" class="btn btn-outline-info btn-lg p-3 fw-bolder" style="min-width: 200px;" data-i18n="single-player-button">
			SINGLE PLAYER
		</a>
		<a href="#multiPlayer" class="btn btn-outline-info btn-lg p-3 fw-bolder" style="min-width: 200px;" data-i18n="multi-player-button">
			MULTI PLAYER
		</a>
	</div>
</div>