<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center container position-relative">
	<div>
		<h1 class="text-warning animate-pulse-heartbeat-slow text-center text-uppercase" data-i18n="register">Register</h1>
	</div>

	<div class="d-flex flex-column w-50 flex-sm-row gap-3 justify-content-center align-items-center font-monospace">
		<form class="w-100 d-flex flex-column gap-3" id="register-form">
			<div class="form-floating">
				<input autocomplete="email" class="form-control" id="email" name="email" placeholder="Email" type="email">
				<label data-i18n="email" for="email">Email</label>
				<small class="form-text text-muted d-none" data-i18n="auth-email-help" id="email-help">Email is required to register</small>
			</div>
			<div class="form-floating">
				<input autocomplete="off" class="form-control" id="username" name="username" placeholder="Username" type="text">
				<label data-i18n="username" for="username">Username</label>
				<small class="form-text text-muted d-none" data-i18n="auth-username-help" id="username-help">Username is required to register</small>
			</div>
			<div class="form-floating">
				<input autocomplete="password" class="form-control" id="password" name="password" placeholder="Password" type="password">
				<label data-i18n="password" for="password">Password</label>
				<small class="form-text text-muted d-none" data-i18n="auth-password-help" id="password-help">Password is required to register</small>
			</div>
			<div class="form-floating">
				<input autocomplete="repeat-password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Password Confirm" type="password">
				<label data-i18n="password_confirm" for="password_confirm">Password Confirm</label>
				<small class="form-text text-muted d-none" data-i18n="auth-password_confirm-help" id="password_confirm-help">Password confirmation is required to register</small>
			</div>
			<div class="d-flex gap-2 justify-content-center align-items-center">
				<button class="btn btn-outline-success flex-grow-1 btn-lg p-3 px-5 fw-bolder" data-i18n="register" style="flex-basis: 60%;" type="submit">Register</button>
				<a class="btn btn-outline-secondary flex-grow-1 btn-lg p-3 px-5 fw-bolder" data-i18n="login" href="#login" style="flex-basis: 40%;">Login</a>
			</div>
		</form>
	</div>

	<div class="position-absolute top-0 start-0 w-100 z-3 h-100 d-flex flex-column justify-content-center align-items-center visually-hidden" id="confirm-otp-modal" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="container">
			<form class="card" id="confirm-otp-form">
				<div class="card-header">
					<h1 class="card-title text-white text-center text-uppercase" data-i18n="otp-code-sent">OTP Code Sent</h1>
					<p class="card-subtitle pb-2" data-i18n="otp-code-sent-desc">An OTP code has been sent to your email. Please enter it below to complete registration</p>
				</div>
				<div class="card-body py-5">
					<div class="form-floating">
						<input autocomplete="off" class="form-control" id="otp_code" name="otp_code" placeholder="OTP Code" type="text">
						<label data-i18n="otp_code" for="otp_code">OTP Code</label>
						<small class="form-text text-muted d-none" data-i18n="auth-otp-code-help" id="otp-code-help">OTP code is required to register</small>
					</div>
				</div>
				<div class="card-footer d-flex gap-2 justify-content-end align-items-center">
					<button class="btn btn-success p-3 text-nowrap" data-i18n="register" type="submit">CONFIRM OTP</button>
					<a class="btn btn-danger p-3" data-i18n="close" href="#login" type="button">CLOSE</a>
				</div>
			</form>
		</div>
	</div>
</div>
